@import url(https://p.typekit.net/p.css?s=1&k=dxc1yvb&ht=tk&f=24537.24539.24547.24548&a=1193438&app=typekit&e=css);

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/0c5f71/00000000000000003b9b1aa0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3) format("woff2"), url(https://use.typekit.net/af/0c5f71/00000000000000003b9b1aa0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3) format("woff"), url(https://use.typekit.net/af/0c5f71/00000000000000003b9b1aa0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 900
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/30420e/00000000000000003b9b1a9e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/30420e/00000000000000003b9b1a9e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/30420e/00000000000000003b9b1a9e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/5855b2/00000000000000003b9b1a98/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/5855b2/00000000000000003b9b1a98/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/5855b2/00000000000000003b9b1a98/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: sofia-pro;
    src: url(https://use.typekit.net/af/98f96f/00000000000000003b9b1a97/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/98f96f/00000000000000003b9b1a97/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/98f96f/00000000000000003b9b1a97/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400
}

body {
    background: #eff7fa;
    position: relative;
    box-sizing: border-box;
    font-family: sofia-pro !important
}

a,
li {
    text-decoration: none !important;
    cursor: pointer;
    font-family: sofia-pro !important;
    list-style: none
}

button {
    cursor: pointer
}

* {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sofia-pro !important;
    color: #1e2e54
}

p {
    font-family: sofia-pro !important;
    color: #212529
}

.top_headers {
    background: #ff5e62;
    display: none
}

.header_notice {
    padding: 5px
}

.header_notice p {
    color: #fff;
    font-size: 12.5px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0
}

.mid_headers {
    position: relative;
    padding: 15px 0 15px 0;
    height: auto;
    background: #fff;
    text-align: center
}

.header_serach {
    display: none
}

.btn_header_search {
    border: none;
    position: absolute;
    top: 2px;
    left: 18px;
    z-index: 1;
    color: #888b90;
    transition: all .25s cubic-bezier(.55, 0, .1, 1);
    background: 0 0
}

.btn_header_search span {
    color: #24a3b5
}

.btn_header_search span::before {
    font-size: 18px;
    margin-left: 0
}

.header_serach input {
    width: 80%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #c4c5c7;
    transition: width .25s cubic-bezier(.55, 0, .1, 1);
    padding: 5px 5px 3px 29px;
    height: auto;
    font-size: 13px;
    line-height: 20px;
    font-family: sofia-pro !important;
    color: #24a3b5;
    letter-spacing: .6px
}

.mid_headers .container {
    max-width: 1280px
}

.header_logo h4 {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    background: #ff5e62;
    color: #fff;
    width: 61%;
    margin: 0 auto;
    padding-bottom: 2px
}

.right_side {
    margin: 0;
    float: right
}

.right_side li {
    display: inline-block;
    margin: 0 12px
}

.right_side li a {
    font-size: 13px;
    color: #24a3b5;
    position: relative;
    display: block;
}

#chervon_icon::before {
    margin: 0;
    font-size: 10px;
    font-weight: 800;
    margin-left: 8px
}

#shopping_cart {
    color: #24a3b5;
    position: relative;
    top: 21px
}

#shopping_cart::before {
    color: red;
    font-size: 25px;
    margin-left: 0;
    margin-bottom: 21px;
}

.main_menu {
    background: #24a3b5;
    padding: 0 0 15px 0;
    display: none
}

.main_menu .container {
    max-width: 1280px
}

.main_menu_list {
    margin: 0;
    text-align: center
}

.main_menu_list li {
    display: inline-block;
    padding: 15px 20px 0
}

.main_menu_list li a {
    color: #fff;
    font-size: 14px;
    letter-spacing: .6px
}

.main_menu_list li::after {
    content: "\f101";
    font-family: Flaticon;
    font-size: 8px;
    font-weight: 900;
    color: #fff;
    margin-left: 11px
}

.ekart__hero {
    width: 100%;
    height: auto;
    position: relative;
    overflow: auto;
    padding-bottom: 40px
}

.ekart__hero_wrap {
    width: 97%;
    margin: auto;
    position: relative;
    height: auto;
    padding-top: 20px
}

.ekart__hero_left {
    width: 80%;
    float: left;
    display: inline-block;
    height: auto
}

.main_slider {
    width: 100%;
    height: auto;
    position: relative;
    padding-right: 20px
}

.slider_img {
    width: 100%;
    height: 289px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 0;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .08);
    -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .08);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .08)
}

.ekart__hero_right {
    width: 20%;
    float: left;
    display: inline-block;
    height: auto
}

.ekart__hero_right ul {
    padding: 0;
    width: 98%;
    margin: auto;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    border-left: 1px solid #e74c3c;
    border-right: 1px solid #e74c3c;
    border-top: 1px solid #e74c3c;
    padding-top: 11px
}

.ekart__hero_right ul li {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #e74c3c;
    text-align: center;
    overflow: hidden;
    height: 139px;
    position: relative
}

.ekart__hero_right ul li img {
    max-width: inherit;
    height: 138px;
    left: 50%;
    transform: translateX(-60%);
    position: relative;
    z-index: 0
}

.h__collection {
    width: 100%;
    position: relative;
    height: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    overflow: auto
}

.cus__conatiner {
    width: 97%;
    margin: auto;
    position: relative;
    height: auto
}

.h__collection_row {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
    height: 70px
}

.h__collection_col {
    width: 20%;
    float: left;
    display: inline-block;
    height: auto;
    position: relative;
    transition: all .3s ease-in-out;
    border: 1px solid #ebebeb;
    background: #fff
}

.h__collection_col::before {
    content: '';
    opacity: 0;
    pointer-events: none;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: 0 0;
    position: absolute;
    z-index: 1;
    border: 2px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.h__collection_col:hover::before {
    opacity: 1;
    box-shadow: 0 15px 50px 0 rgba(26, 38, 74, .1)
}

.h__collection_content {
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    padding: 10px
}

.h__collection_caption {
    text-align: left;
    padding: 0;
    padding-left: 15px
}

.h__collection_caption h5 a {
    font-size: 14px;
    color: #191919;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 15px
}

.h__collection_caption p {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0
}

.h__collection_img a img {
    width: 100%
}

.ekart__ads_sec1 {
    width: 100%;
    position: relative;
    height: auto;
    padding-bottom: 25px;
    overflow: auto
}

.ekart__ads__sec_wrap {
    width: 100%;
    position: relative;
    height: auto
}

.ekart_ads_col1 {
    width: 25%;
    float: left;
    display: inline-block;
    height: auto;
    position: relative
}

.ads__sec_1_img {
    position: relative
}

.ads__sec_1_img a img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
    height: 199px
}

.ads__sec_1_title {
    position: absolute;
    top: 0;
    padding: 25px 34px 0 10px;
    width: 100%;
    height: auto;
    left: 10px
}

.ads__sec_1_title h4 {
    font-size: 14px;
    letter-spacing: .6px;
    font-weight: 400;
    margin-bottom: 5px
}

.ads__sec_1_title h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .6px;
    width: 150px;
    line-height: 25px;
    margin-bottom: 25px;
    color: #fff
}

.ads__sec_1_title a {
    color: #000;
    font-size: 14px;
    letter-spacing: .6px;
    position: relative;
    text-transform: capitalize
}

.ads__sec_1_title a i {
    left: 10px;
    position: relative;
    font-size: 15px;
    top: 3px
}

.ekart_ads_col2 {
    width: 50%;
    float: left;
    display: inline-block;
    height: auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px
}

#ekart_ads_col1_adjust {
    padding: 25px;
    color: #fff !important
}

#ekart_ads_col1_adjust_2 {
    color: #fff !important
}

.ekart__product_sec01 {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 40px
}

.ekart__product_sec_wrap {
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    height: auto
}

.ekart__product_box {
    position: relative;
    overflow: hidden;
    padding: 30px 20px 21px 20px;
    background: #fff;
    border: 1px solid #e74c3c;
    transition: all .5s
}

.ekart__product_box_image {
    text-align: center;
    position: relative;
    overflow: hidden;
    max-height: 250px;
    margin-bottom: 20px
}

.ekart__product_box_image a img {
    max-width: 100%;
    max-height: 250px;
    height: auto;
    width: auto
}

.ekart__product_caption {
    width: 100%;
    height: 40px
}

.product_name {
    color: #191919;
    max-height: 36px;
    max-width: 192px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 18px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
    font-weight: 400
}

.ekart__product_rating span {
    color: #ffc315;
    font-size: 9px;
    margin-right: 2px
}

.discount_price {
    color: #ccc;
    text-decoration: line-through;
    font-size: 13px;
    font-weight: 400
}

.mrp {
    color: #191919;
    font-size: 13px;
    margin: 0 8px 0 7px;
    font-weight: 500
}

.product_disc {
    border: 1px solid #ccc;
    background: #fff;
    display: inline-block;
    font-size: 10px;
    color: #999;
    padding: 3px;
    border-radius: 1px;
    top: -2px;
    position: relative
}

.ekart__product_box:hover {
    z-index: 50;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 7px 17px 0 rgba(23, 84, 116, .45);
    border: 1px solid #e74c3c
}

.product__icon_action {
    position: absolute;
    top: 20%;
    left: -200px;
    transition: .5s
}

.h_collection_title {
    position: relative;
    padding-bottom: 30px
}

.h_collection_title h4 {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    width: 97%;
    margin: auto;
    color: #e74c3c;
    letter-spacing: .6px;
    text-align: center;
    font-weight: 700;
    font-size: 29px
}

.h_collection_title h4::after {
    content: " ";
    position: absolute;
    width: 100px;
    height: 1.5px;
    background: -webkit-linear-gradient(0deg, #ff934b69 0, #ff5e6261 100%);
    bottom: -7px;
    left: 0;
    display: none
}

.slider_carousel .owl-dots {
    display: none
}

.ekart__product_sec01_title {
    color: #191919;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 10px;
    text-transform: uppercase;
    position: relative;
    padding-left: 10px
}

#ekart__slider_btn {
    font-size: 16px
}

.glider-next {
    right: 0;
    left: auto;
    width: 36px;
    height: 70px;
    border: none;
    background: #24a3b5;
    color: #fff;
    top: 133px;
    z-index: 4;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    border-top-left-radius: 4px;
    overflow: hidden;
    border-bottom-left-radius: 4px
}

.glider-prev {
    right: 0;
    left: 0;
    width: 36px;
    height: 70px;
    border: none;
    background: #24a3b5;
    color: #fff;
    top: 133px;
    z-index: 444;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    border-top-right-radius: 4px;
    overflow: hidden;
    border-bottom-right-radius: 4px
}

.ekart_prdoduct_chnage {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s;
    display: block;
    width: 100%;
    padding: 6px 10px 10px;
    background: #fff;
    box-shadow: 0 11px 16px 0 rgba(23, 84, 111, .18);
    border-top: 1px solid #cccccc9c;
    transition: .5s;
    opacity: 0;
    cursor: pointer
}

.ekart__color_btn {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: 6px;
    vertical-align: -2px;
    border: 1px solid #eee;
    cursor: pointer
}

.product__chnange_inner ul li {
    display: inline-block;
    color: #191919;
    cursor: pointer
}

.product__chnange_inner ul {
    margin-bottom: 0
}

.colors1 {
    background-color: #00f;
    cursor: pointer
}

.colors2 {
    background-color: #ff0;
    cursor: pointer
}

#thumb {
    width: 250px;
    margin: 0 auto;
    display: none;
    height: 250px
}

#image img {
    max-width: 100%;
    max-height: 250px;
    height: auto;
    width: auto
}

#colors__kart_title {
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 15px;
    color: #999;
    vertical-align: baseline
}

.ekart__product_box:hover .ekart_prdoduct_chnage {
    bottom: -5px;
    opacity: 1
}

.add_cart_button {
    display: grid;
    grid-template-columns: 80% 20%;
    background: #e74c3c;
    border-radius: 2px;
    margin-top: 30px;
    cursor: pointer;
}

.add_cart {
    padding: 5px 10px 7px 11px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.add_plus {
    text-align: center;
    background-color: #d94549;
    color: #fff;
    padding-top: 5px
}

.add_plus i {
    font-size: 11px
}

.ekart__ads_sec1 {
    display: none;
    width: 100%;
    position: relative;
    height: auto;
    padding-bottom: 40px;
    overflow: auto
}

.ekart__ads__sec_wrap {
    width: 100%;
    position: relative;
    height: auto
}

.ekart_ads_col1 {
    width: 25%;
    float: left;
    display: inline-block;
    height: auto;
    position: relative
}

.top__foot {
    width: 100%;
    height: 150px;
    position: relative;
    border-top: 1px solid #eaeaec;
    border-bottom: 1px solid #eaeaec;
    margin-top: 40px;
    background: #fafbfc !important
}

.block_policy2 {
    padding: 22px 0 15px 0;
    margin: 23px 0;
    display: inline-block;
    width: 100%
}

.block_policy2 ul li {
    float: left;
    padding: 0 15px;
    text-align: center;
    width: 20%;
    position: relative
}

.block_policy2 ul li .item_inner {
    display: inline-block
}

.block_policy2 ul li .item_inner .icon.icon1 {
    background-position: -22px -23px
}

.block_policy2 ul li .item_inner .icon {
    background: url(../img/promotion.png) no-repeat center center;
    width: 60px;
    height: 52px;
    float: left;
    margin-right: 10px
}

.block_policy2 ul li .item_inner .content {
    float: left;
    text-align: left;
    margin-top: 3px
}

.block_policy2 ul li .item_inner .content a {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none !important
}

.block_policy2 ul li .item_inner .content p {
    line-height: 100%;
    margin: 0;
    text-transform: capitalize;
    font-size: 13px;
    color: #696b79
}

.block_policy2 ul li .item_inner .icon.icon2 {
    background-position: -115px -23px
}

.block_policy2 ul li .item_inner .icon.icon3 {
    background-position: -200px -23px
}

.block_policy2 ul li .item_inner .icon.icon4 {
    background-position: -296px -23px
}

.block_policy2 ul li .item_inner .icon.icon5 {
    background-position: -394px -23px
}

.block_policy2 ul li::before {
    background: #ebebeb none repeat scroll 0 0;
    content: "";
    height: 50px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 1px
}

.main__footer {
    width: 100%;
    position: relative;
    height: auto;
    background: #fff !important;
    overflow: auto
}

.block__policy3 {
    width: 95%;
    margin: 0 auto;
    height: auto;
    position: relative;
    padding: 20px;
    overflow: auto
}

.getknow_link {
    width: 17%;
    float: left;
    display: inline;
    height: auto;
    margin-top: 30px
}

.getknow_link ul {
    margin-left: 0
}

.getknow_link ul li a {
    color: #696b79;
    display: block;
    font-size: 13px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal
}

.policy__Link {
    width: 17%;
    float: left;
    display: inline-block;
    height: auto;
    margin-top: 30px
}

.policy__Link ul {
    margin-left: 0
}

.policy__Link ul li a {
    color: #696b79;
    display: block;
    font-size: 13px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal
}

.getknow__title {
    color: #333;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14px
}

.policy__Link_title {
    color: #333;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14px
}

.experience__link {
    width: 26%;
    display: inline-block;
    float: left;
    overflow: auto;
    margin-top: 30px
}

.app__download {
    display: flex;
    width: 91%;
    margin-top: 24px;
    overflow: hidden
}

.app__download a img {
    width: 100%;
    margin-right: 10px;
    height: 42px
}

.experience__link__title {
    color: #333;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14px
}

.keep__touch__link__title {
    color: #333;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 10px
}

.keep__touch {
    width: 100%;
    padding-top: 30px
}

.keep__touch ul {
    margin-left: 0
}

.keep__touch ul li {
    display: inline
}

.keep__touch ul li a {
    cursor: pointer
}

#keep__icon {
    color: #6a6f7a;
    font-size: 23px;
    margin-right: 10px
}

.keep__update {
    width: 40%;
    float: left;
    display: inline-block;
    overflow: auto;
    margin-top: 30px
}

.keep_update__link__title {
    color: #333;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14px;
    padding-left: 34px
}

.keep__form {
    padding-left: 32px;
    width: 100%
}

.keep__form_control {
    border-bottom: 1px solid #ff5e62 !important;
    background-color: transparent;
    border: 0;
    color: #696b79;
    display: block;
    font-size: 13px;
    height: 42px;
    padding: 11px;
    width: 100%
}

.keep__form_submit {
    height: 43px;
    border: 1px solid transparent;
    background-clip: padding-box;
    background-origin: padding-box;
    background-image: -webkit-linear-gradient(0deg, #ff934b 0, #ff5e62 100%);
    color: #fff;
    width: 45%;
    margin-left: -46px;
    font-size: 13px
}

.col_lg_6 {
    width: 50%;
    float: left;
    display: inline-block;
    height: auto
}

.popular__search {
    display: block;
    height: auto;
    width: 100%;
    position: relative;
    overflow: auto
}

.block__policy_4 {
    width: 95%;
    margin: 0 auto;
    height: auto;
    position: relative;
    padding: 20px;
    overflow: auto;
    border-bottom: 1px solid #eaeaec
}

.popular__search a {
    font-size: 13px;
    color: #696b79;
    position: relative;
    text-decoration: none;
    line-height: 25px;
    margin-right: 3;
    margin-right: 8px
}

.popular__search a::after {
    content: "|";
    position: absolute;
    margin-left: 5px
}

.popular__search_title {
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    background: #fafbfc
}

.popular__search_title::after {
    content: "";
    width: 87%;
    height: 1px;
    position: absolute;
    background-color: #eaeaec;
    top: 27px;
    left: 149px
}

.block__policy__5 {
    width: 95%;
    margin: 0 auto;
    height: auto;
    position: relative;
    overflow: auto;
    padding-left: 20px;
    padding-bottom: 40px;
    border-top: 1px solid #eaeaec
}

.block__inner {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 15px
}

.b__col {
    width: 50%;
    float: left;
    display: inline-block;
    height: auto
}

.ec__address p {
    font-size: 13px;
    color: #94969f;
    position: relative;
    line-height: 23px;
    font-family: Montserrat, sans-serif
}

.office__adres {
    color: #333;
    font-family: Montserrat, sans-serif !important;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize
}

.contact__info {
    float: right;
    padding-right: 20%;
    padding-top: 10%
}

.cin {
    font-size: 15px;
    color: #94969f;
    text-transform: uppercase;
    margin-bottom: 0
}

.mobile_detail {
    font-size: 14px;
    color: #94969f
}

#b__telphone {
    font-size: 14px;
    font-weight: 700;
    color: #3fa4b5
}

.foot__bootom {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #eaeaec;
    padding: 12px 0 15px 0
}

.block__policy_6 {
    width: 98%;
    margin: 0 auto;
    position: relative;
    height: auto
}

.f__bootom_left {
    width: 100%;
    height: auto
}

.f__bootom_right {
    width: 50%;
    float: left;
    display: inline-block;
    height: auto
}

.copy__right p {
    margin: 0;
    text-align: center;
    font-size: 15px;
    color: #202121
}

.grid_sec {
    display: grid;
    grid-template-columns: repeat(auto-fill, 18%);
    grid-gap: 25px
}

.breadcrumb {
    background: 0 0;
    padding-left: 14px;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
    margin: 0 auto;
    margin-top: 39px;
    margin-bottom: 0;
    border: solid 1px #e74c3c
}

.breadcrumbs-list {
    width: 100%;
    display: block;
    margin: 0
}

.breadcrumbs-item {
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    text-transform: capitalize;
    line-height: 1;
    position: relative
}

.breadcrumbs-product {
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-right: 5px;
    text-transform: capitalize;
    line-height: 1
}

.breadcrumbs-list li a {
    color: #494d59;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize
}

.breadcrumbs-item::after {
    content: '/';
    position: absolute;
    right: -10px;
    font-size: 18px
}

.cart_page {
    padding: 0;
    margin-right: 20px;
    list-style: none;
    display: grid;
    grid-gap: 41px;
    grid-template-columns: 60% 33%;
    margin-top: 2px;
    margin-bottom: 38px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    MARGIN-TOP: 40PX;
    overflow: hidden
}

.cart_left .wishlist_2 {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
    grid-template-columns: 21% 77%;
    background: #fff;
    border: solid 1px #e74c3c;
    margin-bottom: 16px
}

.cart_left .wishlist_2 .pr_l a h3 {
    color: #000;
    line-height: 26px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 3px
}

.cart_left .wishlist_2 .pr_l a p {
    font-size: 14px
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 1px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.value-button:hover {
    cursor: pointer
}

form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.pr_l .value-button {
    font-size: 22px;
    font-weight: 500;
    border-radius: 50%;
    color: #000
}

.block_sec {
    text-align: left;
    margin-top: 11px;
    display: block
}

#number {
    width: 64px;
    text-align: center;
    border: none;
    font-size: 20px;
    font-weight: 700
}

.cart_left .wishlist_2 .pr_l .view_p a {
    text-align: center
}

.wishlist_2 {
    border-bottom: 1px solid #ccc;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 14px;
    grid-template-columns: 20% 80%;
    margin-top: 2px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
    margin-bottom: 0;
    padding: 10px
}

.pr_l img {
    width: 100%
}

.buy {
    float: left
}

.remove {
    width: 30%;
    display: inline-block;
    float: left
}

.view_p a {
    font-size: 13px;
    letter-spacing: 1px;
    display: block;
    background: -webkit-linear-gradient(0deg, #ff934b 0, #ff5e62 100%);
    padding: 4px;
    color: #fff;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-top: 10px
}

.buy a {
    background: #e74c3c;
    border-radius: 2px;
    margin-top: 0;
    padding: 11px 25px 11px 25px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block
}

.remove_underline:hover {
    color: inherit;
    text-decoration: none;
    list-style: none
}

.cart_left .wishlist_2 .pr_l h3 {
    color: #000;
    line-height: 26px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 3px
}

.buy a:hover {
    color: #fff !important
}

.account_detail {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
    background: #fff;
    padding: 20px;
    border: solid 1px #e74c3c
}

.account_detail h4 {
    color: #000;
    line-height: 26px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px
}

.account_detail ul {
    margin-left: 11px
}

.account_detail ul li {
    display: block;
    font-weight: 100 !important;
    border-bottom: 1px solid #cccc;
    padding-bottom: 10px
}

.account_detail ul li span {
    display: inline-block;
    float: right;
    color: #e74c3c;
    font-weight: 100 !important
}

.account_detail a {
    background: #e74c3c;
    border-radius: 2px;
    margin-top: 0;
    padding: 11px 25px 11px 25px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    border: none;
}

.account_detail a:hover {
    color: #fff !important;
    box-shadow: none !important;
}

.cart_text {
    display: block;
    text-align: center;
    margin-top: 9px;
}

#cart_number {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #E74C3C;
    color: #E74C3C;
    font-size: 12px;
    bottom: 38px;
    top: 16px;
    right: -1px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .06);
    background: #fff;
    font-weight: bold;
    z-index: 1;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none !important;
    color: #fff !important;
}
.modal_heading{

text-align: center;

padding: 10px;

margin-bottom: 7px;
}
.modal_heading h4{

color: #000;

line-height: 26px;

font-size: 27px;

font-weight: 600;

margin-bottom: 3px;
}
.modal_heading p{

font-size: 14px;

letter-spacing: 1px;
}
.modal_body{
    
}
.modal_input {
    width: 94%;
    height: auto;
    overflow: auto;
    margin-bottom: 20px;
}

.modal_input label {
    color: #000;
    line-height: 26px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 3px;
    display: block;
}

.modal_input input {}

.modal_input textarea {
    width: 100%;
    height: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    min-height: 100px;
}

.cancel input {}
.accept input {
    background: #e74c3c;
    border-radius: 2px;
    margin-top: 0;
    padding: 11px 25px 11px 25px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    border: none;
    width: 38%;
    margin: 0 auto;
}

.modal_input input {
    width: 100%;
    height: 40px;
    padding: 20px;
    border: 1px solid #ccc;
}
input:focus{
    outline: none !important;
}