@media (max-width:768px) {
    .ekart__hero_left {
        width: 100%;
        float: left;
        display: block;
        height: 88px;
        overflow: hidden
    }
    .main_slider {
        padding-right: 0
    }
    .ekart__hero_right {
        width: 100%;
        float: left;
        display: block;
        height: auto
    }
    .ekart__hero_right ul li img {
        max-width: inherit;
        height: 122px;
        left: 0;
        transform: inherit;
        position: relative;
        z-index: 0
    }
    .ekart__hero_right ul {
        padding: 0;
        padding-top: 14px;
        width: 91%;
        margin: 0 auto;
        margin-top: 20px
    }
    .slider_img {
        width: 100%;
        height: 88px;
        background-repeat: no-repeat;
        background-size: 100%
    }
    .owl-nav {
        display: none!important
    }
    .ekart__hero_right ul li {
        height: 125px;
        position: relative
    }
    .grid_sec {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        grid-gap: 30px;
        width: 91%;
        margin: 0 auto
    }
    .product_name {
        color: #191919;
        max-height: 36px;
        max-width: inherit;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-height: 18px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 17px;
        font-weight: 400
    }
    .ekart__product_sec01 {
        overflow: hidden
    }
    .cart_page {
        padding: 0;
        margin-right: 20px;
        list-style: none;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: 100%;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 18px;
        MARGIN-TOP: 14PX;
        overflow: hidden
    }
}